.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.modal.show {
    opacity: 1;
    pointer-events: visible;
}

.modal.enter-done {
    opacity: 1;
    pointer-events: visible;
}

.modal.exit {
    opacity: 0;
}

.modal-content {
    width: 500px;
    background-color: #ffffff;

    transform: translateY(-200px);
    transition: all 0.3s ease-in-out;

    border-radius: 10px;
}

.modal.enter-done .modal-content {
    transform: translateY(0);
}

.modal.exit .modal-content {
    transform: translateY(-200px);
}

.modal.show .modal-content {
    transform: translateY(0);
}

.modal-header {
    background-color: #F55A5A;
    color: #ffffff;
    height: 40px;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    font-style: normal;
    font-weight: 300;
    font-family: Inter;
    font-size: 12px;
    border-radius: 10px 10px 0px 0px;
}

.icon-close {
    height: 20px;
    align-self: right;
    position: absolute;
    right: 10px;
}

.icon-close:hover {
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
  
    margin: 36px;
}
  
.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    margin-bottom: 15px;
}

.form-input {
    display: flex;
    flex-direction: column;
    position: relative;

    height: 30px;
    margin-bottom: 20px;
}

.form-input input {
    height: 30px;
    
    border: none;
    border-bottom: 2px solid #F55A5A;
    outline: 0;
    transition: all 0.3s ease-in-out;

    font-size: 14px;
    text-indent: 2px;
}

.form-input textarea {
    height: 30px;
    resize: none;
    overflow: hidden;

    border: none;
    border-bottom: 2px solid #F55A5A;
    outline: 0;
    transition: all 0.3s ease-in-out;

    font-size: 14px;
    text-indent: 2px;
}

.form-input label span {
    position: absolute;
    text-indent: 4px;
    top: 5px;
    transition: all 0.2s ease-in-out;
    font-size: 14px;

    cursor: text;
    color: #2B283A;
}

.form-input input:focus, textarea:focus {
    border-color: #BDBFC0;
}

.form-input input:valid, textarea:valid {
    border-color: #BDBFC0;
}

.form-input input:focus + label > span, textarea:focus + label > span,
.form-input input:valid + label > span, textarea:valid + label > span {
    top: -14px;
    font-size: 12px;
}

.form-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: flex-start;
    position: relative;
  
    height: 40px;
    width: 200px;
  
    background-color: #ffffff;
    border: solid 2px;
    border-color: #ffffff;
    opacity: 1;
    border-radius: 20px;
  
    box-shadow: 0px 2px 4px #BDBFC0;
  
    transition: all 0.2s ease-in-out;
}

.form-button:hover {
    background-color: #F55A5A;
    border-color: #F55A5A;
    cursor: pointer;
}