* {
  margin: 0;
}

body {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex: 1;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;

  background-color: #f55a5a;
  color: #ffffff;
  height: 55px;

  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 10px;

  z-index: 2;
}

.navbar__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

.navbar__icon {
  width: 24px;
  padding-right: 7px;
}

.navbar__header {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.075em;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 36px;
  width: 200px;
  margin-right: 40px;

  background-color: #f55a5a;
  border: solid 2px;
  border-color: #f55a5a;
  border-radius: 8px;
  color: #ffffff;

  box-shadow: 0px 2px 4px #000000;

  transition: all 0.2s ease-in-out;
}

.button__icon {
  width: 12px;
}

.button__text {
  margin-left: 15px;

  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 150%;
}

.button:hover {
  /* background: url(../../public/images/add-icon.svg) no-repeat; */

  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.button:focus {
  background-color: #f55a5a;
  border-color: #f55a5a;
  transition: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbfc0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b283a;
}

.show-mobile {
  display: none;
}

@media (max-width: 599px) {
  .show-mobile {
    display: flex;
    width: 90px;
    align-items: center;
    justify-content: center;
  }

  .button {
    margin-right: 20px;
    font-size: 0.8em;
  }

  .button__text {
    margin-left: 10px;
  }

  .button__icon {
    margin-left: 0;
  }

  .hide-mobile {
    display: none;
  }

  .navbar__title {
    margin-left: 20px;
  }
}
