.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1440px;
  padding-top: 25px;
}

.card {
  display: flex;
  flex-direction: row;
  align-self: flex-start;

  padding: 0px 40px 35px 40px;
}

.card__image {
  width: 8vw;
  height: 14vw;

  margin-right: 20px;
  border-radius: 10px;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__location {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  margin-bottom: 7px;
}

.card__pin {
  width: 8px;
  margin-right: 4px;
}

.card__country {
  color: #2B283A;

  font-weight: 400;
  font-style: normal;
  font-size: 14px;

  margin-right: 12px;
}

.card__link {
  color: #918E9B;

  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-decoration-line: underline;
  text-underline-offset: 2px;
}

.card__title {
  color: #2B283A;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.card__dates {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: #2B283A;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  margin-bottom: 9px;
}

.card__description {
  color: #2B283A;

  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 150%;
}

.card__link:focus, .card__link:hover {
  outline: 0;
  color: #F55A5A;
  text-decoration-color: #F55A5A;
}

.card__header  {
  display: flex;
  flex-direction: row;

  margin-bottom: 20px;
}

.button {
    background-color: #ffffff;
    border: 0;
    padding: 2px;
    margin-left: 10px;
}

.button:hover {
    cursor: pointer;
}

.button:focus {
  outline-color: #F55A5A;
}

.edit:focus {
  outline-color: #2B283A;
}