.container {
  display: flex;
  flex-direction: column;

  margin-top: 70px;
}

.cards {
  display: flex;
  flex-direction: column;

  margin-top: 25px;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 0px 20px 15px;

  height: 25vh;
}

.card__image {
  height: 25vh;
  object-fit: contain;

  margin-right: 10px;
  border-radius: 10px;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__info--location {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 4px;
}

.card__location--pin {
  width: 0.375em;
  margin-right: 4px;
}

.card__location--text {
  color: #2b283a;

  font-weight: 400;
  font-style: normal;
  font-size: 0.5em;

  margin-right: 8px;
}

.card__location--link {
  color: #918e9b;

  font-weight: 400;
  font-style: normal;
  font-size: 0.5em;
  text-decoration-line: underline;
  text-underline-offset: 2px;
}

.card__info--main {
  display: flex;
  flex-direction: row;

  margin-bottom: 8px;
}

.card__title {
  color: #2b283a;
  font-weight: bold;
  font-size: 0.75em;
  line-height: 1.1em;
}

.card__action--button {
  background-color: #ffffff;
  border: none;
  padding: 2px;
  margin-left: 4px;
}

.card__action--button:hover {
  cursor: pointer;
}

.card__action--button:focus {
  outline-color: #f55a5a;
}

.edit:focus {
  outline-color: #2b283a;
}

.card__icon {
  width: 12px;
  height: 12px;
}

.card__dates {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: #2b283a;

  font-style: normal;
  font-weight: bold;
  font-size: 0.5em;
  line-height: 1em;

  margin-bottom: 4px;
}

.card__description {
  color: #2b283a;

  font-style: normal;
  font-weight: normal;
  font-size: 0.5em;
  line-height: 150%;
}

.card__location--link:focus,
.card__location--link:hover {
  outline: 0;
  color: #f55a5a;
  text-decoration-color: #f55a5a;
}

@media (min-width: 600px) {
  .card {
    height: 15vw;
    margin: 0px 40px 35px;
  }

  .card__image {
    height: 15vw;
    margin-right: 20px;
  }

  .card__info--location {
    margin-bottom: 10px;
  }

  .card__location--pin {
    width: 0.5em;
  }

  .card__location--text {
    font-size: 0.75em;
    margin-right: 12px;
  }

  .card__location--link {
    font-size: 0.75em;
  }

  .card__info--main {
    margin-bottom: 20px;
  }

  .card__title {
    font-size: 1.5em;
    line-height: 30px;
  }

  .card__action--button {
    margin-left: 8px;
  }

  .card__icon {
    width: 24px;
    height: 24px;
  }

  .card__dates {
    font-size: 0.75em;
    line-height: 1em;

    margin-bottom: 10px;
  }

  .card__description {
    font-size: 0.8em;
  }
}
